I-RAN.VC.opendb
Win32
Win32\
Win32\*
I-RAN - Controler\Win32
I-RAN - Controler\Win32\
I-RAN - Controler\Win32\*
I-RAN - Model\Win32
I-RAN - Model\Win32\
I-RAN - Model\Win32\*
I-RAN - View\Win32
I-RAN - View\Win32\
I-RAN - View\Win32\*
