#Used by VS
I-RAN.VC.opendb

#Remove stuff that gets compiled!
Win32/*
Win32\*
I-RAN/Win32/*

#.sdf 'N' stuff
*.sdf
ipch\*
ipch/*
.vs\*
.vs/*


#RW Install Contents
RW-Install/*
!RW-Install/RW-Install.md
!RW-Install/Mods/RW-Install.md

#Deps
deps/*
!deps/deps.md